@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff;
  --color-secondary: #d8dde1;
  --color-tertiary: #797e88;
  --color-accent: #bff747;
  --color-background: #121212;
  --color-alternative: #2a2a2a;
  --color-alternative2: #f8f8f8;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
  }

  body {
    @apply cursor-default scroll-smooth bg-primary font-sans;
  }

  h1 {
    @apply font-gallery text-2xl text-primary;
  }
}
