@import "./styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff;
  --color-secondary: #d8dde1;
  --color-tertiary: #797e88;
  --color-accent: #bff747;
  --color-background: #121212;
  --color-alternative: #505050;
  --color-alternative2: #fa3f3f;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
  }

  body {
    @apply font-sans cursor-default scroll-smooth bg-primary;
  }

  h1 {
    @apply font-gallery text-2xl text-accent;
  }
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #d8dde1;
  --color-tertiary: #797e88;
  --color-accent: #bff747;
  --color-background: #121212;
  --color-alternative: #505050;
  --color-alternative2: #fa3f3f;
}

/* General */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) transparent;
}

html,
body {
  @apply cursor-default scroll-smooth bg-primary;
  font-family: "DM Sans", sans-serif;
}

/* Teste de fonte */
h1 {
  font-family: "Gallery Modern", sans-serif;
  font-size: 2rem;
  color: var(--color-accent);
}

:root {
  /* Colors */
  --color-primary: #ffffff;
  --color-secondary: #d8dde1;
  --color-tertiary: #797e88;
  --color-accent: #bff747;
  --color-background: #121212;
  --color-alternative: #505050;
  --color-alternative2: #fa3f3f;
}

/* General */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) transparent;
}
html,
body {
  @apply cursor-default scroll-smooth bg-primary;
  font-family: "DM Sans", sans-serif;
}

/* Teste de fonte */
h1 {
  font-family: "Gallery Modern", sans-serif;
  font-size: 2rem;
}
